{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-touch-icon.png"/>
<link rel="icon" type="image/svg+xml" href="../../images/favicon/android-chrome-512x512.png"/>
<link rel="icon" type="image/png" href="../../images/favicon/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="images/favicon/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="../../images/favicon/manifest.json"/>
<link rel="icon" href="../../images/favicon/manifet.json"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
